# belongs to another repository
docs/
Design*/
Replication*/

# files for another repository
*.pdf
*.html
*.css
*.js
*.yaml
*.jpg
*.png
*.note

# for other purposes
행정/

# Eclipse Metadata
.metadata/

# Mac OS X clutter
*.DS_Store

# Windows clutter
Thumbs.db