# files not for git
*.zip
*/
!optional/
optional/*/
# !optional/A1/
# optional/A1/*/
# !optional/A2/
# optional/A2/*/

# Eclipse Metadata
.metadata/

# Mac OS X clutter
*.DS_Store

# Windows clutter
Thumbs.db